<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Latest calls <em>Cars</em></h2>
                    <span>Users who have recently added their announcements</span>
                </div>
            </div>
            <div class="card-item-holder">
                <app-card-car *ngFor="let car of cars" [car]="car"/>
                
            </div>

        </div>
    </div>
</div>
