<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>If you need, please contact us at the phone number below.</p>
                    <a href=''>+1 333 4040 5566</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>If you have a need, please contact us by writing to the email below</p>
                    <a href="">contact&#64;company.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location</h4>
                    <p>147 Blvd. "Tsarigradsko shose" Sofia <br> Bulgaria</p>
                    <a href="">View on Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>