<div class="row hide">

</div>

<body>

    <div class="container">
        <div class="cover">
            <div class="front">
                <div class="img-container">
                    <img src="assets/images/frontImg.jpg" alt="">
                </div>
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">

                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form [formGroup]="form" (ngSubmit)="registerFormSubmitHandler()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter your name" id="username" name="username" formControlName="username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" id="email" name="email" formControlName="email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-phone"></i>
                                <input type="text" placeholder="Enter your phone number" id="tel" name="tel" formControlName="tel" required>
                            </div>
                            <ng-container formGroupName="passGroup">

                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Enter your password" id="password" name="password" formControlName="password" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Repeat your password" id="rePassword" name="rePassword" formControlName="rePassword" required>
                                </div>
                            </ng-container>
                            <div class="button input-box">
                                <input type="submit" value="Sumbit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label>Login now</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>