<body>

    <div class="container">
        <div class="cover">
            <div class="front">
                <div class="img-container">
                    <img src="assets/images/frontImg.jpg" alt="">
                </div>
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">

                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form [formGroup]="form" (ngSubmit)="registerFormSubmitHandler()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter your username" id="username" name="username"
                                    formControlName="username" >

                            </div>

                            <ng-container *ngIf="form.get('username')?.touched">
                                
                                <ng-container *ngIf="form.get('username')?.errors?.['usernameValidator']">

                                    <p class="error-input">
                                        Username must contain one or more characters !
                                    </p>
                                </ng-container>
                            </ng-container>


                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" id="email" name="email"
                                    formControlName="email">


                            </div>
                            <ng-container *ngIf="form.get('email')?.touched">
                                
                                <p class="error-input" *ngIf="form.get('email')?.errors?.['emailValidator']">
                                    Email is not valid!
                                </p>
                            </ng-container>
                            <div class="input-box">
                                <i class="fas fa-phone"></i>
                                <input type="text" placeholder="Enter your phone number" id="tel" name="tel"
                                    formControlName="tel" >

                            </div>
                            <ng-container *ngIf="form.get('tel')?.touched">
                                <p class="error-input" *ngIf="form.get('tel')?.errors?.['phoneNumberValidator']">
                                    Phone must contain three or more numbers !

                                </p>
                            </ng-container>
                            <ng-container formGroupName="passGroup">

                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Enter your password" id="password"
                                        name="password" formControlName="password" >
                                </div>
                                <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                                    <p class="error-input"
                                        *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength'] || form.get('passGroup')?.get('password')?.errors?.['required']">
                                        Password must be at least 5 characters!
                                    </p>
                                </ng-container>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Repeat your password" id="rePassword"
                                        name="rePassword" formControlName="rePassword">
                                </div>
                                <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                                    <p class="error-input"
                                        *ngIf="form.get('passGroup')?.errors?.['matchPasswordValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']">
                                        Password does not match password!</p>
                                </ng-container>
                            </ng-container>
                            <div class="button input-box">
                                <input type="submit" value="Sumbit" [disabled]="form.invalid ? true : false">
                            </div>
                            <div class="text sign-up-text">Already have an account? <a routerLink="/login"><label>Login
                                        now</label></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>