<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>Welcome to our Car Dealer Site!</h6>
                    <h4>Find the perfect car for you from our wide selection of vehicles.</h4>
                    <p>Make your registration and upload your ads. Here you can find the perfect car for you.</p>
                    <a routerLink="/register" class="filled-button">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Request a call back right now ?</h4>
                <span>If you feel the need please contact us</span>
            </div>
            <div class="col-md-4">
                <a href="/contact-us" class="border-button">Contact Us</a>
            </div>
        </div>
    </div>
</div>