<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>lorem ipsum dolor sit amet!</h6>
                    <h4>Quam temporibus accusam <br> hic ducimus quia</h4>
                    <p>Magni deserunt dolorem consectetur adipisicing elit. Corporis molestiae optio, laudantium odio
                        quod rerum
                        maiores, omnis unde quae illo.</p>
                    <a href="cars.html" class="filled-button">Cars</a>
                </div>
            </div>
        </div>
        <!-- <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>magni deserunt dolorem harum quas!</h6>
                    <h4>Aliquam iusto harum <br> ratione porro odio</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa cupiditate mollitia adipisci
                        assumenda
                        laborum eius quae quo excepturi, eveniet. Dicta nulla ea beatae consequuntur?</p>
                    <a href="about.html" class="filled-button">About Us</a>
                </div>
            </div>
        </div>
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>alias officia qui quae vitae natus!</h6>
                    <h4>Lorem ipsum dolor <br>sit amet, consectetur.</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus
                        lacinia ac
                        sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                    <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Request a call back right now ?</h4>
                <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
            </div>
            <div class="col-md-4">
                <a href="contact.html" class="border-button">Contact Us</a>
            </div>
        </div>
    </div>
</div>