<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Catalog</h1>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <form method="get" id="contact">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Used/New:</label>

                        <select class="form-control">
                            <option value="">All</option>
                            <option value="new">New vehicle</option>
                            <option value="used">Used vehicle</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Vehicle Type:</label>

                        <select class="form-control">
                            <option value="">--All --</option>
                            <option value="">--All --</option>
                            <option value="">--All --</option>
                            <option value="">--All --</option>
                            <option value="">--All --</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Make:</label>

                        <select class="form-control">
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Model:</label>

                        <select class="form-control">
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                            <option value="">-- All --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 offset-sm-4">
                <div class="main-button text-center">
                    <input type="submit" class="filled-button" value="Search">
                    <!-- <a href="#" class="filled-button">Search</a> -->
                </div>
            </div>
            <br>
            <br>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Catalog <em>Cars</em></h2>
                    <span>Published advertisements are stored here</span>
                </div>
            </div>
            <div class="card-item-holder">
                <app-card-car *ngFor="let car of cars" [car]="car" />
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>