<div class="service-item">
    <div class="image-container">
        <img src="assets/images/product-1-720x480.jpg" alt="">
    </div>
    <div class="down-content">
        <h4>Lorem ipsum dolor sit amet</h4>
        <div style="margin-bottom:10px;">
            <span>
                <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
            </span>
        </div>

        <p>
            <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
            <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
            <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
        </p>
        <a href="car-details.html" class="filled-button">View More</a>
    </div>
</div>