<div class="service-item">
    <div class="image-container">
        <img [src]='car.images.image1' alt="">
    </div>
    <div class="down-content">
        <h4>{{car.postName}}</h4>
        <div style="margin-bottom:10px;">
            <span>
                {{car.price}}<sup>$</sup>
            </span>
        </div>

        <p>
            <i class="fa fa-dashboard"></i> {{car.mileage}}km &nbsp;&nbsp;&nbsp;
            <i class="fa fa-cube"></i> {{car.engineSize}} cc &nbsp;&nbsp;&nbsp;
            <i class="fa fa-cog"></i> {{car.gearbox}} &nbsp;&nbsp;&nbsp;
        </p>
        <a [routerLink]="'/details/'+car._id" class="filled-button">View More</a>
    </div>
</div>