<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hello {{username}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Your active <em>Cars</em></h2>
                    <span>Published advertisements are stored here</span>
                </div>
            </div>
            <ng-container *ngIf="myCars.length === 0">
                <div class="section-heading">
                    <h2>You have not published <em>Cars</em> yet.</h2>
                </div>
            </ng-container>

            <div class="card-item-holder">
                <app-card-car *ngFor="let car of myCars" [car]="car" [isOwner]="true" />
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Your subscribed <em>Cars</em></h2>
                    <span>Subscribed advertisements are stored here</span>
                </div>
            </div>
            <ng-container *ngIf="myCarsSubscribed.length === 0">
                <div class="section-heading">
                    <h2>You have not subscribed <em>Cars</em> yet.</h2>
                </div>
            </ng-container>
            <div class="card-item-holder">
                <app-card-car *ngFor="let car of myCarsSubscribed" [car]="car" />
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>